/*MATERIAL*/

h2  {
    @include tipo (flex,column,center);
    text-align: left;
    margin: 20px;
    padding: 10px;
}

h3 {
    padding: 10px;
    margin: 20px;
    text-align:center;
}

.spotify {
    @include tipo (flex,row,stretch);
    flex-wrap: wrap;
    align-items:stretch;
    justify-content: space-between;
    .spotifyplaylist {
        flex: 0 0 200px;
        margin: 2%;
        border-style: solid;
        border-color: $borderColor;
    }
    
}

.videoRecomendacion {
    @include tipo (flex,column,none);
    .linkVideo {
        &:visited {color: red};
    }
}

