/*PROPUESTAS*/ 

.sectionPropuesta {
    @include tipo (flex,column,center);
    text-align: left;
    margin-top: ($anchoBajo)-2;
    padding: ($anchoBajo)-2;
}

.desarrolloPropuesta {
    padding: ($anchoBajo)-2;
    text-align: center;
}

.formularioPropuesta {
    background-color: $backgroundColor;
    box-shadow: 2px 2px 8px 0px  rgba(0,0,0,0.3);
    border: 2px solid $borderColor;
    border-radius: 4px;
    margin: 20px 20px; 
    padding: 50px;
    font-size: $fontSize; 
    .mb-3 {
        @include tamaño (2,4);
    }
    .btn {
        color: $backgroundColor; 
        background-color:$buttonColors;
        &:hover {background-color: $hoverButton;}
    }
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-animation-duration: ($duration)+2;
    animation-duration: ($duration)+2;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    .fadeInRight {
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
        @-webkit-keyframes fadeInRight {
            0% {
            opacity: 0;
            -webkit-transform: translateX(20px);
        }
            100% {
            opacity: 1;
            -webkit-transform: translateX(0);
        }
        }
        @keyframes fadeInRight {
            0% {
            opacity: 0;
            transform: translateX(20px);
            }
            100% {
            opacity: 1;
            transform: translateX(0);
            }
        }
    }
}








