@import "../variables/variables";

h2 {
    margin-top: 20px;
    padding: 20px;
}

.tituloWebinar {
    text-align: center;
    padding: 2%;
}

.d-flex {
    background-color: $buttonColors;
    iframe {
    border-style: solid;
    border-color: $buttonColors;
    border-width: 2px;
    text-align: center;
    margin: 10px;
    width:560px;
    height:315px;}
    @media only screen and (max-width: 400px) /*MOBILE*/{
        @include tipo (flex, column, center);
        iframe {
            height: 50%;
            width: 50%;
            position: absolute; 
        }
    }
    @media only screen and (min-width: 401px) and (max-width: 960px) /*TABLET*/ {
        @include tipo (flex, column, center);
    }
}
