/*GENERAL*/ 
body {
    font-size: 1em;
    font-family: 'Questrial', sans-serif;
    margin: 3px;
    padding: 0;
    background: linear-gradient(207deg, rgba(44,62,80,1) 0%, rgba(75,75,215,1) 0%, rgba(94,215,250,1) 78%, rgba(255,255,255,1) 100%);
}

h1 {
    color: #2C3E50;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic; 
}

h2 {
    font-size: 1.5em;
}

hr {
    height: 2px;
    background-color: black;
}


/*-------- INDEX -------- */ 
/*Header*/


header {
    background-color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 2%;
    z-index: 3;
    color: black;
}

#linkIndex {
    text-decoration: none;
}

.animated {
    background-repeat: no-repeat;
    background-position: left top;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
    0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
}
    100% {
    opacity: 1;
    -webkit-transform: translateX(0);
}
}

@keyframes fadeInRight {
    0% {
    opacity: 0;
    transform: translateX(20px);
    }
    100% {
    opacity: 1;
    transform: translateX(0);
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

header nav ul {
    list-style-type: none;
    text-align:right;
    padding-left: 0;
}

header nav ul li {
    display: inline-block;
    position: relative;
    width: fit-content;
    margin: 0.2% 1%; 
}

nav ul li:hover {
    color:red;
}

header nav ul li a {
    font-size:1em;
    font-weight: 200;
    text-decoration: none;
}

header nav ul ul {
    display: none;
    position: absolute;
    width: 100%;
}

header nav li:hover ul{
    display: block;
}

header nav ul li ul li {
    display: block;
    text-align: left;
    background-color: #5DADE2;
    width:100%;
}

header nav ul li:hover {
    background-color:whitesmoke;
}

/* portada */ 

#portada {
    background-image: url(imagenes/work.jpg);
    position: relative;
    display: inline-block;
    text-align: center;
}

#textoInicial {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.1em;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
    width: 48ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
}

@keyframes typing {
    from {
    width: 0
    }
}

@keyframes blink {
    50% {
    border-color: transparent
    }
}

#imgInicial {
    max-width: 100%;
    height: auto;
    display:block;
}

#imgInicial:hover {
    filter: grayscale(80%)
}

#imgInicial:hover #textoInicial{
    color: white;
}

/* resumen*/ 

.item {
    font-weight: bold;
    letter-spacing: 0.1em;
    margin-right: 5px;
    max-width: 100%;
    height: auto;
}

.resumenImagen {
    height: 20%;
}

/*footer*/

footer{
    background-color: #2C3E50;
    color: aliceblue;
    display: block;
    margin: 10px;
    padding: 10px;
}

.footer-newsletter {
    display: block;
    width:50%;
    height:50%;
    margin: 10px;
    padding: 10px;
}

.footer-newsletter button {
    background-color: white;
    color: black;
    margin: 5px;
}

.footerRedes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.redes {
    width: 20%;
    height: 20%;
}


/*Mobile*/
@media only screen and (max-width: 400px) {
    #textoInicial {
        font-size: 1em;
        max-width: auto;
        height: auto;
    }
    #d-flex flex-row justify-content {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    }
    .footerRedes {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .redes {
        width: 10%;
        height: 10%;
    }
}
/*tablet*/ 
@media only screen and (min-width: 401px) and (max-width: 960px) {
    #textoInicial {
        font-size: 1em;
        max-width: auto;
        height: auto;
    }
    #d-flex flex-row justify-content {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    }
    .footerRedes {
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .redes {
        width: 15%;
        height: 15%;
    }
}



/* --------PAGINA WEBINAR-------- */ 

.hWebinar {
    padding: 2%;
}

.tituloWebinar {
    background-color: aliceblue;
    text-align: center;
    padding: 2%
}

iframe {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    text-align: center;
}


/*-------- PAGINA CURSOS --------*/ 

.cursos {
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
    z-index: 5;
}

.course {
    flex: 0 0 200px;
    margin: 10px;
    border: 3px solid black;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3); 
    background-color: white;
} 

.course h3 {
    font-weight: bold;
}

.course:hover {
    transform: scale(1.4);
}
.course img {
    max-width: 100%;
    border: 1px solid black;
}
.course .text {
    padding: 0 20px 20px;
}

.course .text > button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}

.buttonCourse {
    background-color: goldenrod;
    color: white;
    font-size: 0.8em;
    border-radius: 4px;
    border: 2px solid grey;
    float: center; 
}

.buttonCourse:hover {
    color: black;
}

@media only screen and (max-width: 400px) {
    .course {
        z-index: 0;
    }
    .course h3 {
        font-style: bold;
    }
    .course:hover {
        transform: none;
    }
}



/* --------PÁGINA MATERIAL --------*/ 

.spotify {
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    flex-direction: row;
    justify-content: space-between;
}

.spotifyplaylist {
    flex: 0 0 200px;
    margin: 10px;
    border-style: solid;
    border-color: white;
}

.videoRecomendacion {
    display: flex;
    flex-direction: column;
}

.linkVideo:visited {
    color: red;
}


/*-------- PÁGINA PROPUESTAS-------- */ 

.sectionPropuesta {
    display: flex; 
    flex-direction: column;
    align-items: center;
    text-align: center; 
    padding: 15px;
}

.formularioPropuesta {
    background-color: white;
    box-shadow: 2px 2px 8px 0px  rgba(0,0,0,0.3);
    border: 2px solid black;
    border-radius: 4px;
    margin: 40px 40px; 
    padding: 50px;
    font-size: 1em; 
}

.btn {
    color: white; 
    background-color: #2C3E50;
}

.btn:hover {
    background-color: green
}

.mb-3 {
    margin: 2px;
    padding: 4px;
}
